* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold); 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section {
  padding: 2rem 0 4rem;

  &__title {
    font-size: var(--h1-font-size);
  }
  &__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
  }
  &__title,
  &__subtitle {
    text-align: center;
  }
}

/*==================== Layout ====================*/
.container {
  max-width: 768px;
  margin: 0 var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}