.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  max-width: 968;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  &__number {
    display: none;
    color: var(--first-color)
  }

  &__logo:hover {
    color: var(--first-color);
  }

  &__toggle {
    font-size: 1.25rem;
    cursor: pointer;
  }

  &__toggle:hover {
    color: var(--first-color);
  }

  &__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  &__link:hover {
    color: var(--first-color);
  }

  &__icon {
    font-size: 1.2rem;
  }

  &__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--font-color);
  }

  &__close:hover {
    color: var(--first-color-alt);
  }

  &__btns {
    display: flex;
    justify-content: center;
  }
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
  animation-name: moon;
  animation-duration: 20s;
  animation-iteration-count: infinite;

  &:hover {
    color: var(--first-color)
  }
}

@keyframes moon {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(30deg);}
  50%  {transform: rotate(-20deg);}
  75%  {transform: rotate(20deg);}
  100% {transform: rotate(0);}
}

.show-menu {
  bottom: 0 !important;
} 


.active-link {
  color: var(--first-color);
}

.scroll-header {
  background-color: var(--body-color)
}