.services {
  position: relative;
  &__container {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 0.5rem 1rem 2rem;
    border-radius: 0.6rem;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 1.0px 2.4px 2.4px rgba(0, 0, 0, 0.47);
    transition: 0.6s;
  }

  &__content:hover {
    box-shadow: 8.0px 16.0px 16.0px rgba(0, 0, 0, 0.25);
  }

  &__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
  }

  &__button {
    cursor: pointer;
  }

  &__button:hover .button__icon {
    transform: translateX(0.5rem);
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);

    //hidden opa and vis to edit modal
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  &__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 0.5rem;
  }

  &__modal-services {
    row-gap: 1rem;
  }

  &__modal-service {
    display: flex;
  }

  &__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5)
  }

  &__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color);
    cursor: pointer;
  }

  &__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-5);
  }

  &__img {
    position: absolute;
    width: 300px;
    left: -130px;
    bottom: 5px;
    transform: rotate(15deg);
    animation: showknight 2s infinite alternate; 
  }
}

.active-modal {
  opacity: 1;
  visibility: visible;
}

@keyframes showknight {
    0% {
      transform: rotate(16deg) scale(1);
    }
    100% {
      transform: rotate(14deg) scale(1.04);
    }
}
