.skills {
  
  &__container {
    row-gap: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
  }

  &__content {
    margin: 1rem;
  }

  &__icon,
  &__arrow {
    font-size: 2rem;
    color: var(--first-color);
  }

  &__icon {
    margin-right: var(--mb-0-75);
  }

  &__icon-min {
    font-size: 2rem;
  }

  &__img {
    width: 60px;
  }

  &__title {
    font-size: var(--h3-font-size);
  }

  &__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }

  &__arrow {
    margin-left: auto;
    transition: 0.4s;
  }

  &__list {
    row-gap: 1.5rem;
    padding-left: 0 3rem;
    transition: 1s;
  }

  &__titles {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: var(--mb-0-5);
  }

  &__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }

  &__bar,
  &__percentage {
    height: 5px;
    border-radius: 0.25rem;
  }

  &__bar {
    background-color: var(--first-color-lighter);
  }

  &__percentage {
    display: block;
    background-color: var(--first-color);
  }

  &__html {
    width: 90%;
  }

  &__css {
    width: 70%;
  }

  &__js {
    width: 60%;
  }

  &__react {
    width: 10%;
    border: 2px dotted red;
  }


  &__close &__list {
    height: 0;
    overflow: hidden;
  }

  &__open &__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
  }

  &__open &__arrow {
    transform: rotate(-180deg);
  }
}
